@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef7ff;
  --foreground: #171717;
  --brand-1: #05bffc;
  --brand-2: #e82a8b;

  --brand-1-dark: #037195;
  --brand-2-dark: #83164f;

  --white: #f7f7f7;
  --black: #212427;

  --primary-container: #f3edf7;
  --text-primary: #212427;
  --text-inverted: #f7f7f7;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --brand-1: #05bffc;
    --brand-2: #e82a8b;

    --brand-1-dark: #037195;
    --brand-2-dark: #83164f;

    --white: #212427;
    --black: #f7f7f7;

    --background-light: #353535;
    --primary-container: #585659;
    --text-primary: #f7f7f7;
    --text-inverted: #212427;
  }
} */

html {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-primary {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-10 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
}

.btn-secondary {
  @apply py-2.5 px-10 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;
}

/* General Styles */
/* * {
  padding: 0px;
  margin: 0px;
} */

/* body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  height: 100vh;
  margin: 0;
  background: var(--color-background-light);
} */

/* .hidden {
  display: none;
} */

/* Header Styles */
/* h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 7rem;
  color: var(--color-black);
} */
